.form-container form {
display: flex;
flex-direction: column;
}

.form-layout h1{
    position: relative;
    bottom: 20px;
}

.form-container select {
    text-align: center;
    appearance: none;
    background-color: rgba(2,5,2,0.3);
    color: white;
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.form-container input {
    background-color: rgba(2,5,2,0.3);
    color: white;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
}

.todo-container {
    margin: 20px;;
    border: solid white 2px;
}

.todo-container .button-container {
    display: flex;
}
